@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Proxima";
    src: url("../assets/Proxima\ Nova\ Font.otf");
  }


.Container{
    width:1000%;
    max-width: 100%;
    padding:10px 50px;
    margin:0 auto;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}

@media screen and  (min-width:280px) and (max-width:568px) {
    .Container{
        padding: 5px 20px;
    }
}
